/* General CSS*/
html {
    font-family: verdana, sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar-thumb { 
    background-color: #ccc;
    height: auto;
    border-radius: 3px;
}

::-webkit-scrollbar { 
    height: 12px;
    width: 12px; 
    background-color: transparent;
    border: 12px solid transparent;
}

#sidebar {
    background: #FFF;
    width: 310px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 125px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    text-align: center;
    overflow-x: scroll;
    z-index: 10;
}

#sidebar h1 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    color: #555;
    margin-top: 25px;
}

#sidebar h2 {
    font-size: 0.8em;
    margin-top: -10px;
    color: #ff8746;
}

#sidebar ul {
    list-style: none;
    line-height: 25px;
    font-family: verdana, sans-serif;
    padding: 0;
    margin-top: 25px;
    color: #ccc;
    cursor: pointer;
}

#sidebar a {
    text-decoration: none;
    color: #ccc;
    display: block;
}

#sidebar li a:hover, li:hover{
    color: #555;
    font-weight: bold;
    letter-spacing: 0.2em;
}

#sidebar p {
    font-size: 0.9em;
    color: #555;
    font-size: 0.7em;
    line-height: 15px;
    margin-top: 100px;
}

#navaboutexp, #navconcertsexp {
    display: none;
}

#navaboutexp a, #navconcertsexp a {
    color: #2fbac3;
}

/* Index Page */

#band1 {
    background: #000;
    height: 265px;
    margin-left: 360px;
    overflow: hidden;
    min-width: 670px;
}

#band1 h3 {
    color: #FFF;
    margin-top: -220px;
    font-size: 2em;
    text-align: center;
}

#band1 h4 {
    margin-top: -30px;
    text-align: center;
    color: #FFF;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    margin-left: 40%;
}

#band1 p {
    color: #FFF;
    width: 70%;
    padding-left: 20px;
    text-align: center;
    margin-top: -10px;
    max-width: 700px;
    text-shadow: #333 2px 2px 2px;
}

#band2 {
    display: table;
    width: 100%;
    background: #2fbac3;
    min-width: 670px;
    overflow: hidden;
    padding-top: 3px;
}

#image {
    display: table-cell;
    padding-left: 360px;
    text-align: center;
}

#content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#band2 h3 {
    color: #FFF;
    font-size: 2em;
}

#band2 p {
    color: #FFF;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#band2 button {
    border: 3px solid white;
    border-radius: 10px;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #FFF;
    background: #ff8746;
    width: 270px;
    height: 40px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

#band2 button:hover {
    background: transparent;
}

#band2 button a {
    text-decoration: none;
    color: #FFF;
    display: block;
}

#band3bg {
    background: #555;
    margin-left: 360px;
}

#band3 {
    height: 150px;
    display: table;
    width: 100%;
    min-width: 670px;
    overflow: hidden;
}

#band3 h3 {
    color: #FFF;
    font-size: 3em;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 20%;
}

#band3 p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3em;
}

#band3 a {
    color: #FFF;
    text-decoration: none;
}

#band3 a:hover {
    color: #ff8746;
    font-weight: bold;
    letter-spacing: 0.2em;
    display: block;
}

#band4table {
    background: #eee;
    display: table;
    width: 100%;
    min-width: 1030px;
}

#band4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 360px;
}

#band4 a {
    font-size: 2em;
    color: #555;
    text-decoration: none;
}

#band4 a:hover {
    color: #ff8746;
}

#band4 p {
    color: #bbb;
    font-size: 1.2em;
}

#band4 b {
    color: #2fbac3;
}

#facebook {
    display: table-cell;
}

/* Timeline */
#timelinehtml {
    overflow: hidden;
    background: #f9f9f9;
}

#main, #gallerymain, #historymain, #newsmain, #people, #supportmain {
    margin-left: 360px;
    min-width: 670px;
}

#main h3, #gallerymain h3, #historymain h3, #newsmain h3, #people h3, #supportmain h3 {
    margin-left: 60px;
    letter-spacing: 0.2em;
    font-size: 2.5em;
    color: #2fbac3;
    border-bottom: 5px solid #2fbac3;
    display: table;
    padding-right: 50px;
}

#main img {
    position: absolute;
    bottom: 0px;
    overflow: scroll;
}

#main h4, #people h4 {
    letter-spacing: 0.2em;
    font-size: 1.5em;
    margin: 0;
    line-height: 50px;
    text-indent: 20px;
    color: #ccc;
    margin-top: -25px;
}

#instruction {
    margin-top: 0;
    color: #ccc;
    margin-left: 10px;
    display: block;
}

#x03, #x04, #x06, #x07, #x08, #x09, #x10, #x11, #x12, #x13, #x14, #x15 {
    color: #FFF;
    background: #ff8746;
    width: 25px;
    line-height: 25px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
}

#y2003, #y2004, #y2006, #y2007, #y2008, #y2009, #y2010 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #ff8746;
    background: #FFF;
    padding: 15px;
    border-radius: 30px;
    color: #444;
    display: none;
    max-height: 500px;
    overflow: scroll;
}

#y2011, #y2012, #y2013, #y2014, #y2015 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #ff8746;
    background: #FFF;
    padding: 15px;
    border-radius: 30px;
    color: #444;
    display: none;
    max-height: 500px;
    overflow: scroll;
}

#note1, #note2, #note3, #note4, #note5, #note6, #note7, #note8, #note9, #note10, #note11, #note12 {
    position: absolute;
    font-size: 4.5em;
    display: block;
    cursor: pointer;
    color: dimgrey;
}

#note1 {
    bottom: 200px;
    margin-left: 20px;
    display: block;
}

#note2 {
    bottom: 180px;
    margin-left: 190px;
    display: block;
}

#note3 {
    bottom: 210px;
    margin-left: 320px;
    display: block;
}

#note4 {
    bottom: 150px;
    margin-left: 410px;
}

#note5 {
    bottom: 170px;
    margin-left: 500px
}

#note6 {
    bottom: 200px;
    margin-left: 600px
}

#note7 {
    bottom: 220px;
    margin-left: 720px;
}

#note8 {
    bottom: 200px;
    margin-left: 860px;
}

#note9 {
    bottom: 50px;
    margin-left: 50px;
}

#note10 {
    bottom: 25px;
    margin-left: 150px;
}

#note11 {
    bottom: 20px;
    margin-left: 260px;
}

#note12 {
    bottom: 60px;
    margin-left: 380px;
}

/* GALLERY */
#table {
    display: table;
    background: #000;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 720px;
    width: 100%;
}

#gallerydiv {
    display: table-cell;
    vertical-align: middle;
}
.gallery {
    height: auto;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.buttonleft {
    height: 720px;
    position: absolute;
    background: black;
    border: none;
    opacity: 0.5;
    outline: none;
    color: white;
    cursor: pointer;
}

.buttonright {
    height: 720px;
    position: absolute;
    right: 0px;
    background: black;
    border: none;
    opacity: 0.5;
    outline: none;
    color: white;
    cursor: pointer;
}

/* HISTORY */
#historymain h4 {
    letter-spacing: 0.2em;
    font-size: 1.5em;
    margin: 0;
    line-height: 50px;
    text-indent: 20px;
    color: #ccc;
    margin-top: 10px;
}

#historymain p {
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    color: #444;
}

/* NEWS */
.news {
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 4px solid #ff8746;
    border-radius: 30px;
    padding: 27px;
}

.news a {
    color: #2fbac3;
    text-decoration: none;
    font-weight: bold;
}

#newsmain h4 {
    letter-spacing: 0.2em;
    font-size: 1.5em;
    margin: 0;
    text-indent: 20px;
    color: #ccc;
    margin-bottom: -10px;
}

#newsmain i {
    margin-left: 50px;
    color: #ccc;
}

#readmore1, #readmore2, #readmore3, #readmore4, #readmore5, #readmore6, #readmore7 {
    background: #ff8746;
    padding: 6px;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 360px;
    text-align: center;
    width: 100px;
}

.news img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
}

#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6, #hidden7 {
    display: none;
}

/* PEOPLE */
#main table {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

h5 {
    letter-spacing: 0.2em;
    font-size: 1.5em;
    margin: 0;
    padding-left: 10px;
    color: #2fbac3;
}

.tableleft {
    height: 35px;
    width: 185px;
    font-weight: bold;
    color: #777;
}

.tableright {
    color: #ccc;
}

#left {
    float: left;
    width: 50%;
    text-align: center;
}

#right {
    float: left;
    width: 50%;
    text-align: center;
}

#center {
    margin-top: 50px;
    float: left;
    width: 100%;
    text-align: center;
}

#left a, #right a, #center a {
    text-decoration: none;
    color: #FFF;
}

h6 {
    font-size: 1em;
    padding-top: 50%;
    margin: 0;
    margin-bottom: 0px;
    display: block;
    color: #ff8746;
    text-shadow: 0px 0px 5px #444;
}

#left p, #right p, #center p {
    margin: 0;
    font-size: 0.8em;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}

#jennycarr, #caroldallosto, #stephenfrewenlord, #donnamcmahon, #alannixon, #jacintapayne, #davidpearce, #mariodobernig, #craigjohnson, #davidlawrence, #richardmcintyre, #seanoboyle, #markshiell, #raymondyong, #arthurathan, #jenniferbradstreet, #stefancassomenos, #rebeccachan, #bronwyndouglass, #blairharris, #davidhudson, #jiwonkim, #leahli, #adamlopez, #benjaminmartin, #yoshikamasuda, #jamesmorrison, #siobhanpatrick, #domenicotaraborrelli, #alexthomas {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-left: 10px;
    margin-right: auto;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

#jennycarr1, #caroldallosto1, #stephenfrewenlord1, #donnamcmahon1, #alannixon1, #jacintapayne1, #davidpearce1, #mariodobernig1, #craigjohnson1, #davidlawrence1, #richardmcintyre1, #seanoboyle1, #markshiell1, #raymondyong1, #arthurathan1, #jenniferbradstreet1, #stefancassomenos1, #rebeccachan1, #bronwyndouglass1, #blairharris1, #davidhudson1, #jiwonkim1, #leahli1, #adamlopez1, #benjaminmartin1, #yoshikamasuda1, #jamesmorrison1, #siobhanpatrick1, #domenicotaraborrelli1, #alexthomas1 {
    display: none;
}

#jennycarr:hover #jennycarr1, #caroldallosto:hover #caroldallosto1, #stephenfrewenlord:hover #stephenfrewenlord1, #donnamcmahon:hover #donnamcmahon1, #alannixon:hover #alannixon1, #jacintapayne:hover #jacintapayne1, #davidpearce:hover #davidpearce1, #mariodobernig:hover #mariodobernig1, #craigjohnson:hover #craigjohnson1, #davidlawrence:hover #davidlawrence1, #richardmcintyre:hover #richardmcintyre1, #seanoboyle:hover #seanoboyle1, #markshiell:hover #markshiell1, #raymondyong:hover #raymondyong1, #arthurathan:hover #arthurathan1, #jenniferbradstreet:hover #jenniferbradstreet1, #stefancassomenos:hover #stefancassomenos1, #rebeccachan:hover #rebeccachan1, #bronwyndouglass:hover #bronwyndouglass1, #blairharris:hover #blairharris1, #davidhudson:hover #davidhudson1, #jiwonkim:hover #jiwonkim1, #leahli:hover #leahli1, #adamlopez:hover #adamlopez1, #benjaminmartin:hover #benjaminmartin1, #yoshikamasuda:hover #yoshikamasuda1, #jamesmorrison:hover #jamesmorrison1, #siobhanpatrick:hover #siobhanpatrick1, #domenicotaraborrelli:hover #domenicotaraborrelli1, #alexthomas:hover #alexthomas1 {
    display: block;
}

#jennycarr {
    background-image: url(images/people/jennycarr.png);
}

#caroldallosto {
    background-image: url(images/people/caroldallosto.png);
}

#stephenfrewenlord {
    background-image: url(images/people/stephenfrewenlord.png);
}

#donnamcmahon {
    background-image: url(images/people/donnamcmahon.png);
}

#alannixon {
    background-image: url(images/people/alannixon.png);
}

#jacintapayne {
    background-image: url(images/people/jacintapayne.png);
}

#davidpearce {
    background-image: url(images/people/anon.png);
}

#mariodobernig {
    background-image: url(images/people/mariodobernig.png);
}

#craigjohnson {
    background-image: url(images/people/craigjohnson.png);
}

#davidlawrence {
    background-image: url(images/people/davidlawrence.png);
}

#richardmcintyre {
    background-image: url(images/people/richardmcintyre.png);
}

#seanoboyle {
    background-image: url(images/people/seanoboyle.png);
}

#markshiell {
    background-image: url(images/people/markshiell.png);
}

#raymondyong {
    background-image: url(images/people/raymondyong.png);
}

#arthurathan {
    background-image: url(images/people/arthurathan.png);
}

#jenniferbradstreet {
    background-image: url(images/people/jenniferbradstreet.png);
}

#stefancassomenos {
    background-image: url(images/people/stefancassomenos.png);
}

#rebeccachan {
    background-image: url(images/people/rebeccachan.png);
}

#bronwyndouglass {
    background-image: url(images/people/bronwyndouglass.png);
}

#blairharris {
    background-image: url(images/people/blairharris.png);
}

#davidhudson {
    background-image: url(images/people/davidhudson.png);
}

#jiwonkim {
    background-image: url(images/people/jiwonkim.png);
}

#leahli {
    background-image: url(images/people/leahli.png);
}

#adamlopez {
    background-image: url(images/people/adamlopez.png);
}

#benjaminmartin {
    background-image: url(images/people/benjaminmartin.png);
}

#yoshikamasuda {
    background-image: url(images/people/yoshikamasuda.png);
}

#jamesmorrison {
    background-image: url(images/people/jamesmorrison.png);
}

#siobhanpatrick {
    background-image: url(images/people/siobhanpatrick.png);
}

#domenicotaraborrelli {
    background-image: url(images/people/domenicotaraborrelli.png);
}

#alexthomas {
    background-image: url(images/people/alexthomas.png);
}

/* SPECIFIC PEOPLE PAGES */
#peoplecontent {
    background: #eee;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 30px;
    margin-bottom: 50px;
    padding: 10px;
}

#people img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    border: 4px solid #ff8746;
    border-radius: 30px;
}

#peoplecontent p {
    margin-right: 15px;
    line-height: 22px;
}

#people h5 {
    margin: 10px;
    padding-top: 5px;
}

/* SUPPORT US */
#layout {
    display: table;
    width: 100%;
}

.donateplay {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    color: #444;
    text-align: center;
}

.donateplay h4 {
    letter-spacing: 0.1em;
    font-size: 1.5em;
    margin: 0;
    line-height: 35px;
    color: #ccc;
    margin-top: 10px;
}

.other {
    display: block;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    line-height: 35px;
    color: #ccc;
    text-align: center;
}

/* SIGNUP POPUP */
#popupdark {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #000;
    opacity: 0.85;
    display: none;
}

#popupform {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;
    min-width: 800px;
    z-index: 100;
    display: none;
}

#form {
    background: #fff;
    display: inline-block;
    padding: 30px;
    border: 5px solid #ff8746;
    border-radius: 30px;
    margin-bottom: 100px;
}

#formx {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background: #2fbac3;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5em;
    display: none;
    z-index: 200;
}

#form h4 {
    font-size: 1.5em;
    margin: 0;
    color: #2fbac3;
    border-bottom: 3px solid #2fbac3;
    margin-bottom: 15px;
}