html {
    font-family: verdana, sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar-thumb { 
    background-color: #ccc;
    height: auto;
    border-radius: 3px;
}

::-webkit-scrollbar { 
    height: 12px;
    width: 12px; 
    background-color: transparent;
    border: 12px solid transparent;
}

#sidebar {
    background: #FFF;
    width: 310px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 125px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    text-align: center;
    overflow-x: scroll;
}

#sidebar h1 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    color: #555;
    margin-top: 25px;
}

#sidebar h2 {
    font-size: 0.8em;
    margin-top: -10px;
    color: #ff8746;
}

#sidebar ul {
    list-style: none;
    line-height: 25px;
    font-family: verdana, sans-serif;
    padding: 0;
    margin-top: 25px;
    color: #ccc;
}

#sidebar a {
    text-decoration: none;
    color: #ccc;
    display: block;
}

#sidebar li a:hover, li:hover{
    color: #555;
    font-weight: bold;
    letter-spacing: 0.2em;
}

#sidebar p {
    font-size: 0.9em;
    color: #555;
    font-size: 0.7em;
    line-height: 15px;
    margin-top: 100px;
}

#navaboutexp, #navconcertsexp {
    display: none;
}

#navaboutexp a, #navconcertsexp a {
    color: #2fbac3;
}

#band1 {
    background: #000;
    height: 265px;
    margin-left: 360px;
    overflow: hidden;
    min-width: 670px;
}

#band1 h3 {
    color: #FFF;
    margin-top: -220px;
    font-size: 2em;
    text-align: center;
}

#band1 h4 {
    margin-top: -30px;
    text-align: center;
    color: #FFF;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    margin-left: 40%;
}

#band1 p {
    color: #FFF;
    width: 70%;
    padding-left: 20px;
    text-align: center;
    margin-top: -10px;
    max-width: 700px;
    text-shadow: #333 2px 2px 2px;
}

#band2 {
    display: table;
    width: 100%;
    background: #2fbac3;
    min-width: 670px;
    overflow: hidden;
    padding-top: 3px;
}

#image {
    display: table-cell;
    padding-left: 360px;
    text-align: center;
}

#content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#band2 h3 {
    color: #FFF;
    font-size: 2em;
}

#band2 p {
    color: #FFF;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#band2 button {
    border: 3px solid white;
    border-radius: 10px;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #FFF;
    background: #ff8746;
    width: 270px;
    height: 40px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

#band2 button:hover {
    background: transparent;
}

#band2 button a {
    text-decoration: none;
    color: #FFF;
    display: block;
}

#band3bg {
    background: #555;
    margin-left: 360px;
}

#band3 {
    height: 150px;
    display: table;
    width: 100%;
    min-width: 670px;
    overflow: hidden;
}

#band3 h3 {
    color: #FFF;
    font-size: 3em;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 20%;
}

#band3 p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3em;
}

#band3 a {
    color: #FFF;
    text-decoration: none;
}

#band3 a:hover {
    color: #ff8746;
    font-weight: bold;
    letter-spacing: 0.2em;
    display: block;
}

#band4table {
    background: #eee;
    display: table;
    width: 100%;
    min-width: 1030px;
}

#band4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 360px;
}

#band4 a {
    font-size: 2em;
    color: #555;
    text-decoration: none;
}

#band4 a:hover {
    color: #ff8746;
}

#band4 p {
    color: #bbb;
    font-size: 1.2em;
}

#band4 b {
    color: #2fbac3;
}

#facebook {
    display: table-cell;
}